<%def name="relocate(dest)">
    <%
        from relocation import branch

        with branch(context, dest):
            context.writer()(caller.body())

        return
    %>
</%def>

<%def name="destination(dest)">
    <% from relocation import destination as do_destination %>
    ${do_destination(context, dest)}
</%def>
